.dockerignore
*.pyc
__pycache__
Dockerfile
docker-compose.yml
.git
.vscode
commands.txt
README.md
bd_backup
static
run.bat
compose-dev.yaml
**/**.pyc
**/**.swn
**/**.swl
**/**.swp
**/**.swo
**/**.swm
**/ENV/**
**/env/**
**/NODE_ENV/**
**/PYTHON_ENV/**
**/**.env
**/.env/**
.env
.venv
env/
venv/
**/**.rar
**/**accesslog
**/**errorlog
**/**.sock
**/**.pem
**/**.ppk
*.log
*.pot