<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'frontend/images/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="theme-color" content="#000000">
    <meta
      name="description"
      content="The project, entitled information relevant to the anime series broadcasted since 1990 in a single database, accessible as a web page and in open mode. The strong point of the website lies in the filtering and search options for series. The project is a non-profit research tool with the objective of learning about web programming."
      data-rh="true"
    />
    <title>AnimeCards</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <script src="{% static 'frontend/scripts/main.js' %}"></script>
  </body>
</html>

